<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      src="{{ product.imageUrl || 'assets/NoImage.jpg' }}"
      alt="{{ product.name }}"
      class="card-img-top"
    />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
       {{product.description}}
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-product-hunt"></i> {{ product.name }}
    </h6>
    <p class="card-text text-muted text-center">
      {{ product.unitPrice }} EUR
    </p>
  </div>
</div>
