<div class="content">
  <div class="row">
    <div class="col-md-5">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <label class="col-md-4 text-center font-weight-bold">Products</label>
            <label class="col-md-2 font-weight-bold">Price</label>
            <label class="col-md-3 font-weight-bold">Quantity</label>
            <label class="col-md-3 font-weight-bold text-right">Total</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">
            <i class="fa fa-home" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-secondary">Computers</button>
          <button type="button" class="btn btn-secondary">Fruits</button>
          <button type="button" class="btn btn-secondary">Clothing</button>
          <button type="button" class="btn btn-secondary">Services</button>
          <button type="button" class="btn btn-secondary">Bruger</button>
          <button type="button" class="btn btn-secondary">Pizza</button>
        </div>
        <hr/>

        <input type="text" placeholder="Search products" class="form-control">
      </div>
    </div>
  </div>
</div>
